#admin{
    width: 100vw;
    height: 100vh;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
#admin::-webkit-scrollbar{
    display: none;
}
.userChatContainer{
    width: 94vw;
    height: 80px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-radius: 10px;
}
.acProfilePicture{
    width: 60px;
    height: 60px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-radius: 50%;
    background-size: cover;
}
.adminCommentBox{
    width: 94vw;
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.adminCommentProfilePicture{
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 50%;
    box-sizing: border-box;
    background-size: cover;
    background-image: url(../../public/pic/pic3.jpg);
}
.commentBtn{
    padding: 7px 12px 7px 12px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
}
.acommentW{
    width: calc(100vw - 120px);
    font-size: 14px;
    font-family: 'robotoR';
}
.pt20pb20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.l0pa{
    left: 0;
    position: absolute;
}
@media(min-width:550px){
    .userChatContainer{
        width: 500px;
    }
    .adminCommentBox{
        width: 500px;
    }
    .acommentW{
        width: 380px;
    }
}