body{
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0,0,0);
  overflow-x: hidden;
}
#myPicture{
  width: 100vw;
  height: 100vh;
  background-image: url('../../public/img/img5.jpg');
  background-size: cover;
}
#section2{
  background-color: white;
}
.fix{
  width: 90vw;
  height: 5px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-sizing: border-box;
}
.skillName{
  margin-left: 5vw;
  transform: scale(1.15);
  font-family: 'robotoR';
  color: black;
  margin-top: 5px;
}
.move{
  background-color: red;
  border-radius: 10px;
  height: 5px;
  box-sizing: border-box;
}
.main{
  width: 88vw !important;
  max-width: 88vw !important;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid lightgray; */
  padding-top: 15px;
  padding-bottom: 15px;
  left: 5px !important;
  right: 5px !important;
  padding-right: 4vw;
  padding-left: 4vw;
  margin-top: 3px !important;
  font-family: 'latoR';
  border-radius: 10px;
}
.usedSkillName{
  color: gray;
}
.cr{
  font-family: 'latoB' !important;
  font-size: 18px;
}
.usedSkills{
  color: purple;
  border-bottom: 1px solid purple;
  padding-bottom: 3px;
}
.wid_98{
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bb3{
  border-bottom: 1px solid purple !important;
  margin-bottom: 5px;
  padding-bottom: 4px;
  color: purple !important;
}
#menu{
  width: 100vw;
  box-sizing: border-box;
  height: 40px;
  background-color: #ffffffa8;
}
.active{
  border-bottom: 2px solid red !important;
  padding: 10px
}
.bor{
  border-bottom: 2px solid rgba(255, 0, 0, 0);
  padding: 10px
}
.bioFont{
  font-size: 40px;
  color: red;
  margin-right: 7px;
  font-weight: bold;
  font-family: 'dan';
}
.odn{
  font-size: 40px;
  color: red;
  margin-right: 7px;
  font-weight: bold;
  font-family: 'dan';
}
.profilePic{
  width: 50px;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 50%;
  background-size: cover;
  background-image: url('../../public/pic/pic1.jpg');
}
.commentContent{
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgray;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
}
.m41{
  margin-top: 41px;
}
.commentsText{
  margin-left: 3vw;
  font-family: 'latoB';
  font-size: 18px;
  border-bottom: 2px solid red;
  display: inline;
  padding-right: 5px;
  padding-bottom: 3px;
  color: red;
}
.heart{
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url(../../public/heart.PNG);
  right: 8px;
  bottom: 6px;
  filter: opacity(.5);
  transform: scale(0.9);
}
.intreduce{
  font-weight: bold;
  font-family: 'dan';
  color: rgb(0,200,255);
  font-size: 24px;
  border-bottom: 2px solid rgb(0,200,255);
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}
.threeLine{
  width: 30px;
  height: 30px;
}
.nnstyle{
  display: inline !important;
  width: 150px;
  padding-bottom: 4px;
  position: absolute;
  top: 0;
}
.line{
  width: 30px;
  height: 3px;
  background-color: rgb(0,200,255);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease;
}
#menuContainer{
  width: 100vw;
  height: 0;
  background-color: white;
  box-sizing: border-box;
  overflow-y: hidden;
}
.l0{
  margin-top: 15px;
  transform: rotate(45deg);
}
.l2{
  margin-top: -15px;
  transform: rotate(-45deg);
}
.newClass{
  overflow-y: hidden;
  height: 100vh;
}
#optionsContainer{
  width: 200px;
  height: 150px;
}
.tl0{
  top: 0;
  left: 0;
}
.option{
  font-size: 20px;
  color: gray;
  font-family: 'latoR';
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#mmContainer{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  font-family: 'latoB';
}
.pat0{
  top: 0;
  position: absolute;
}
#mContainer{
  width: 100vw;
  overflow-x: hidden;
}
#bioText{
  width: 7890px;
  font-size: 24px;
  margin-left: 100px;
  /* -webkit-text-stroke: 0.5px white; */
  color: red;
  text-shadow: 0 0 11px black;
}
.commonClassImg{
  width: 30px;
  height: 30px;
  background-size: cover;
}
#welcome{
  font-family: 'robotoR';
  font-size: 60px;
  color: rgba(255, 255, 255, 0);
}
.pintop{
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  #welcome{
    font-size: 100px;
  }
  #myPicture{
    background-image: url(../../public/img/background1.jpg);
  }
  #bioText{
    font-size: 50px;
    -webkit-text-stroke: 2px orangered;
    -webkit-text-fill-color: transparent;
    width: 16421px;
    text-shadow: 0 0 transparent;
  }
  .fix{
    width: 70vw;
  }
  .skillName{
    margin-left: 20px;
  }
  .skillIconAndNameContainer{
    margin-left: 12vw;
  }
  .mySkillIntreduce{
    margin-left: 12vw;
  }
  #commentBoxDirection{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .commentContent{
    width: 40vw;
  }
  #mainResume{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100vw;
    margin-top: 50px;
  }
  .mmt0i{
    margin-top: 0;
  }
  .mt-50is{
    margin-top: -50px;
  }
  .imgBackgroundPic1{
    /* background-image: url(../../public/pic/img1.webp); */
    background-size: cover;
    /* width: 100vw;
    height: 100vh;
    width: 100vw !important;
    max-width: 100vw !important; */
    /* margin-top: -10px;
    margin-left: -10px; */
  }
  .imgBackgroundPic2{
    /* background-image: url(../../public/pic/img2.webp); */
    background-size: cover;
    /* width: 100vw;
    height: 100vh;
    width: 100vw !important;
    max-width: 100vw !important; */
    /* margin-top: -10px;
    margin-left: -10px; */
  }
  .imgBackgroundPic3{
    /* background-image: url(../../public/pic/img3.webp); */
    background-size: cover;
    /* width: 100vw;
    height: 100vh;
    width: 100vw !important;
    max-width: 100vw !important; */
    /* margin-top: -10px;
    margin-left: -10px; */
  }
  .imgBackgroundPic4{
    /* background-image: url(../../public/pic/img4.webp); */
    background-size: cover;
    /* width: 100vw;
    height: 100vh;
    width: 100vw !important;
    max-width: 100vw !important; */
    /* margin-top: -10px;
    margin-left: -10px; */
  }
  .imgBackgroundPic5{
    /* background-image: url(../../public/pic/img5.webp); */
    background-size: cover;
    /* width: 100vw;
    height: 100vh;
    width: 100vw !important;
    max-width: 100vw !important; */
    /* margin-top: -10px;
    margin-left: -10px; */
  }
  #section2{
    background-color: transparent;
  }
}