.chatroomContainer{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: white !important;
}
.header{
    width: 100vw;
    height: 60px;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
}
.body{
    width: 100vw;
    height: calc(100% - 120px);
    box-sizing: border-box;
    overflow-y: scroll;
}
.body::-webkit-scrollbar{
    display: none;
}
.footer{
    width: 100vw;
    height: 60px;
    box-sizing: border-box;
    box-shadow: -2px 2px 18px #80808057;
}
.profilePictureChatroom{
    width: 50px;
    height: 50px;
    background-image: url(../../public/img/img5.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 1px solid lightgray;
    box-sizing: border-box;
}
.usernameChatroom{
    font-family: 'latoB';
}
.messageInput{
    width: calc(100vw - 80px);
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    font-family: 'robotoR';
    font-size: 16px;
}
.messageInput:focus{
    outline: none;
}
.messageBtn{
    height: 35px;
    width: 50px;
    background-color: white;
    border: 0;
    border-bottom: 1px solid lightgray;
    font-family: 'robotoR';
    font-size: 16px;
}
.recieveContainer{
    max-width: 60vw;
    background-color: rgb(0,200,255);
    padding: 5px 10px 5px 10px;
    border-radius:10px;
    font-family: 'robotoR';
    font-size: 12px;
    letter-spacing: 0.5px;
    color: white;
    word-break: break-all;
    margin-top: 34px;
    margin-left: -7px;
}
.sendContainer{
    max-width: 60vw;
    background-color: red;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-family: 'robotoR';
    font-size: 12px;
    letter-spacing: 0.5px;
    color: white;
    word-break: break-all;
    margin-top: 34px;
    margin-right: -7px;
}
.profilePictureInMessageReceive{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    background-image: url(../../public/img/img5.jpg);
    background-size: cover;
}
.profilePictureInMessageSend{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    background-image: url(../../public/img/img5.jpg);
    background-size: cover;
}
.mt-15{
    margin-top: -6px;
}
.layer{
    height: 20px;
}
@media (min-width:500px){
    .chatroomContainer{
        width: 500px;
        box-shadow: 0 0 37px gray;
    }
    .header{
        width: 500px;
    }
    .footer{
        width: 500px;
    }
    .usernameChatroom{
        font-family: 'latoB';
    }
    .messageInput{
        width: 420px
    }
    .recieveContainer{
        max-width: 300px;
    }
    .sendContainer{
        max-width: 300px;
    }
    .chatroomCCC{
        width: 100vw;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .w100{
        width: 500px;
    }
}