#commentContainer{
    width: 100vw;
    height: 100vh;
}
.profilePicComment{
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid rgb(0,200,255);
    box-sizing: border-box;
}
.ppcc{
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
}
.commentUsername{
    font-family: 'latoB';
}
textarea{
    width: calc(90vw - 20px);
    height: 130px;
    border: 1px solid lightgray;
    padding: 10px;
    font-family: 'robotoR';
    border-radius: 5px;
    background-color: #ffffff24;
    color: white;
}
textarea:focus{
    outline: none;
    border: 1px solid rgb(0,200,255);
}
textarea::placeholder{
    font-family: 'robotoR';
}
.w90vw{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
.commentButton{
    padding: 5px 7px 5px 7px;
    background-color: red;
    color: white;
    height: 35px;
    border-radius: 10px;
    font-family: 'robotoR';
    border: 0;
}
.clg{
    color: lightgray;
}