@font-face {
    font-family: 'adine';
    src: url(../fonts/Adine\ Kirnberg.ttf);
}
@font-face {
    font-family: 'adine2';
    src: url(../fonts/AdineKirnberg-Alternate.ttf);
}

/* roboto fonts */
@font-face {
    font-family: 'robotoB';
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'robotoL';
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'robotoM';
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'robotoR';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'robotoT';
    src: url(../fonts/Roboto-Thin.ttf);
}
/*************/
/* open sans */
@font-face {
    font-family: 'openSansB';
    src: url(../fonts/OpenSans_Condensed-Bold.ttf);
}
@font-face {
    font-family: 'openSansL';
    src: url(../fonts/OpenSans_Condensed-Light.ttf);
}
@font-face {
    font-family: 'openSansM';
    src: url(../fonts/OpenSans_Condensed-Medium.ttf);
}
@font-face {
    font-family: 'openSansR';
    src: url(../fonts/OpenSans_Condensed-Regular.ttf);
}
/*************/
/* lato font */
@font-face {
    font-family: 'latoB';
    src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: 'latoL';
    src: url(../fonts/Lato-Light.ttf);
}
@font-face {
    font-family: 'latoR';
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: 'latoT';
    src: url(../fonts/Lato-Thin.ttf);
}
/***********/
/* mon. fonts */
@font-face {
    font-family: 'monB';
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'monL';
    src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: 'monM';
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'monR';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'monT';
    src: url(../fonts/Montserrat-Thin.ttf);
}
@font-face {
    font-family: 'cave';
    src: url(../fonts/Caveat-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'pac';
    src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: 'dan';
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}
/*************/

.fontrr{
    font-family: 'robotoR';
}
.fontrb{
    font-family: 'robotoB';
}
.fontrt{
    font-family: 'robotoT';
}
.fontrl{
    font-family: 'robotoL';
}
.fflb{
    font-family: 'latoB';
}
.fflr{
    font-family: 'lator';
}