.nodejsIcon{
    background-image:url(../../public/img/skill-icons/nodejs.png);
}
.phpIcon{
    background-image:url(../../public/img/skill-icons/php.png);
}
.reactIcon{
    background-image:url(../../public/img/skill-icons/react-js.png);
}
.javascriptIcon{
    background-image:url(../../public/img/skill-icons/javascript.png);
}
.htmlIcon{
    background-image:url(../../public/img/skill-icons/html.png);
}
.cssIcon{
    background-image:url(../../public/img/skill-icons/css.png);
}
.socketIcon{
    background-image:url(../../public/img/skill-icons/socket.io.png);
}
.expressIcon{
    background-image:url(../../public/img/skill-icons/express-js.png);
}
.threeIcon{
    background-image:url(../../public/img/skill-icons/three.png);
}
.gsapIcon{
    background-image:url(../../public/img/skill-icons/gsap.png);
}
.jqueryIcon{
    background-image:url(../../public/img/skill-icons/jquery.png);
}
.mongodbIcon{
    background-image:url(../../public/img/skill-icons/mongodb.png);
}
.redisIcon{
    background-image:url(../../public/img/skill-icons/redis.png);
}
.mysqlIcon{
    background-image:url(../../public/img/skill-icons/mysql.png);
}
.postgresqlIcon{
    background-image:url(../../public/img/skill-icons/postgresql.png);
}
.webxrIcon{
    background-image:url(../../public/img/skill-icons/webxr.png);
}
.dockerIcon{
    background-image:url(../../public/img/skill-icons/docker.png);
}
.typescriptIcon{
    background-image:url(../../public/img/skill-icons/typescript.png);
}