form{
    width: 100vw;
    height: 100vh;
    font-family: 'latoB';
    background-color: rgba(255, 0, 0, 0);
}
.loginInput{
    width: 250px;
    height: 35px;
    border-radius: 7px;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    font-family: 'latoB';
    background-color: #ffffff57;
    color: white;
}
.loginInput::placeholder{
    color: rgba(255, 255, 255, 0.822);
}
.loginInput:focus{
    outline: none;
}
.loginBtn{
    margin-top: 20px;
    padding: 7px 20px 7px 20px;
    border: 1px solid white;
    background-color: red;
    border-radius: 10px;
    font-family: 'latoB';
    color: white;
}
.w280{
    width: 280px;
}
.int{
    font-size: 24px;
    font-family: 'latoB';
    margin-bottom: 20px;
    letter-spacing: 4px;
    color: red;
    border-bottom: 1px solid white;
    display: inline-block;
    width: 116px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
#bgi{
    width: 100vw;
    height: 100vh;
    font-family: 'latoB';
    background-image: url(../../public/img/background2.jpg);
    background-size: cover;
    background-position-x: -59vw;
    filter: blur(3px);
}
.containerInps{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 1px solid rgba(0, 200, 255, 0);
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 200, 255, 0);
}
.loginFileInput{
    width: 280px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'latoR';
    background-color: rgb(0,200,255);
    border: 1px solid white;
    box-sizing: border-box;
}
.plusContent{
    width: 16px;
    height: 16px;
    position: relative;
    margin-top: 3px;
}
.oline{
    width: 16px;
    height: 2px;
    background-color: white;
    margin-top: 7px;
}
.aline{
    width: 2px;
    height: 16px;
    background-color: white;
    margin-left: 7px;
}
.upp{
    color: white;
}
.registerText{
    color: rgb(0,200,255);
    text-transform: capitalize;
    font-family: 'latoL';
    font-size: 14px;
}
.w80{
    width: 80px !important;
}
#errorSection{
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'robotoR';
    font-size: 12px;
    color: red;
    letter-spacing: 1px;
    opacity: 0;
}